<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.user %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Raw content:</b>
  <%= @post.raw_content %>
</p>

<p>
  <b>Raw content type:</b>
  <%= @post.raw_content_type %>
</p>

<p>
  <b>Published:</b>
  <%= @post.published %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
