<!-- Github -->
<a href="https://github.com/siddick"><%= image_tag "icon/32/github.png", :alt => "gh" %></a>
<!-- Twitter -->
<a href="https://twitter.com/siddickInside"><%= image_tag "icon/32/twitter.png", :alt => "t" %></a>
<!-- Facebook -->
<a href="http://www.facebook.com/siddick"><%= image_tag "icon/32/facebook.png", :alt => "f" %></a>
<!-- Google Plus -->
<a href="https://plus.google.com/103719245554204460362?prsrc=3"><%= image_tag "icon/32/gplus.png", :alt => "g+" %></a>
<!-- Rss Feed -->
<%= link_to image_tag("icon/32/rss.png", :alt => "rss"), posts_path(:rss), :type => "application/rss+xml", :rel => "alternate" %>
