= link_to image_tag("icon/32/github.png",   :alt => "gh"), "https://github.com/siddick"
= link_to image_tag("icon/32/twitter.png",  :alt => "tw"), "https://twitter.com/siddickInside"
= link_to image_tag("icon/32/facebook.png", :alt => "fb"), "http://www.facebook.com/siddick"
= link_to image_tag("icon/32/gplus.png",    :alt => "g+"), "https://plus.google.com/103719245554204460362?prsrc=3"
= link_to image_tag("icon/32/rss.png",      :alt => "rss"), posts_path(:rss), :type => "application/rss+xml", :rel => "alternate"
