<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="social-icons pull-right">
        <%= render "badges" %>
      </div>
      <a href="/" class="brand" title="Siddick">Si</a>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
          <li><%= link_to "Dashboard", admin_dashboard_path %></li>
          <% end %>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle"><%= current_user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Setting",  edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      <div class="pull-left hidden-phone">
      <%= form_tag search_path, :method => :get, :class => "navbar-search pull-left" do %>
        <%= text_field_tag "q", params[:q], :class => "search-query", :id => "search-q", :placeholder => "Search" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
