<div class="fill">
  <div class="container">
    <a href="/" class="brand" title="Siddick">Si</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <%= form_tag search_path, :method => :get do %>
      <%= text_field_tag "q", params[:q], :id => "search-q", :placeholder => "Search" %>
    <% end %>
    <ul class="nav secondary-nav">
      <% if user_signed_in? %>
      	<% if current_user.admin? %>
      	<li><%= link_to "Dashboard", admin_dashboard_path %></li>
      	<% end %>
        <li class="dropdown" data-dropdown="dropdown">
          <%= link_to current_user.name, "#", :class => "dropdown-toggle" %>
          <ul class="dropdown-menu">
            <li><%= link_to "Setting",  edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
