<!DOCTYPE html>
<html>
  <head>
    <title>Siddick</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar"><%= render "topbar" %></div>
    <div class="container">
      <%= render "error_messages" %>
      <div class="row">
        <div class="span12 main"><%= yield %></div>
        <div class="span4 sidebar"><%= render("sidebar")%></div>
      </div>
    </div>
  </body>
</html>