<!DOCTYPE html>
<html>
  <head>
    <link href="https://plus.google.com/103719245554204460362" rel="publisher" />
    <title>Siddick</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar"><%= render "topbar" %></div>
    <div class="container">
      <div class="content">
        <div class="page-header<%= " tag-#{params[:tag]}" if params[:tag].present? %>">
          <div class="share-this"><%= render "badges" %></div>
          <% if content_for? :page_header %>
            <%= yield :page_header %>
          <% else %>
            <h1><%= params[:action].humanize %></h1>
          <% end %>
        </div>
        <div class="row">
          <div class="span12 main">
            <%= render "error_messages" %>
            <%= yield %>
          </div>
          <div class="span4 sidebar">
            <%= render "sidebar" %>
          </div>
        </div>
      </div>
      <footer><p>My blog.</p></footer>
    </div>
    <%= javascript_include_tag "application" %>
    <%= render "google_analytics" %>
  </body>
</html>
