<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://plus.google.com/103719245554204460362" rel="publisher" />
    <title>Siddick</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header><%= render "topbar" %></header>
    <div class="container">
      <div class="content">
        <div class="page-header<%= " tag-#{params[:tag]}" if params[:tag].present? %>">
          <div class="pull-right"><%= render "badges" %></div>
          <% if content_for? :page_header %>
            <%= yield :page_header %>
          <% else %>
            <h1><%= params[:action].humanize %></h1>
          <% end %>
        </div>
        <div class="row">
          <div class="span9 main">
            <%= render "error_messages" %>
            <%= yield %>
          </div>
          <div class="span3 sidebar">
            <%= render "sidebar" %>
          </div>
        </div>
      </div>
      <footer><p>My blog.</p></footer>
    </div>
    <%= javascript_include_tag "application" %>
    <%= render "google_analytics" %>
  </body>
</html>
