!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://plus.google.com/103719245554204460362", :rel => "publisher"}/
    %title #{title} - Siddick
    = csrf_meta_tags unless @page_caching
    = stylesheet_link_tag "application"
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
  %body{:class => body_class}
    %header= render "topbar"
    .container
      .content
        %header{:class => "page-header #{post_page_header_class}"}
          - if content_for? :page_header
            = yield :page_header
          - else
            %h1= title
        .row
          .span9.main
            #error_messages= flash_block unless @page_caching
            = yield
          %aside.span3.sidebar
            = render "sidebar"
    = javascript_include_tag "application"
    = render "google_analytics"
    = javascript_tag "$.getScript('#{update_caching_path("js")}');" if @page_caching
